en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
Flask==2.3.2
pydantic==1.10.9
requests==2.31.0
scikit-learn==1.2.2
sklearn==0.0
spacy==3.5.3
xgboost==1.7.6
numpy==1.25.0
pandas==2.0.2